<h1>Confirm Deleting Room</h1>
<h2>{{name}}</h2>
<p>Location: <strong>{{city}}</strong></p>
<p>Price: {{price}} EUR</p>
<form method="post" action="/delete/{{id}}">
  <input type="submit" value="Delete Product" />
</form>
<p><a href="/catalog/{{id}}" class="href">Cancel</a></p>